.page {
  max-width: 1440px;
  min-height: 100vh;
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
}

.background {
  position: absolute;
  transform: translate(-50%, 0);
  top: 0;
  left: 50%;
  width: 1440px;
  height: 580px;
  object-fit: cover;
  z-index: -1;
}

@media screen and (max-width: 1440px) {
  .background {
    width: 100%;
  }
}

@media screen and (max-width: 1104px) {
  .background {
    height: 400px;
  }
}
@media screen and (max-width: 544px) {
  .background {
    height: 536px;
  }
}
