.page {
  max-width: 1440px;
  min-height: 100vh;
  background: white;
  padding: 0 calc((100vw - 1440px) / 2);
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.background {
  width: 100%;
  background-image: url("../../images/background.png");
  background-size: cover;
  background-position: center;
}
