.form {
  background-color: var(--primary-bg);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.form__fieldset {
  border: none;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.form__label {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #2f71e5;
}

.form__input {
  border: none;
  color: var(--primary-text-color);
  caret-color: #2f71e5;
  font-size: 14px;
}

.form__input::placeholder {
  color: var(--secondary-text-color);
}

.form__input_popup {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 9px 0 10px 0;
}

.form__input_popup:focus {
  outline: none;
  border-bottom: 1px solid black;
}

.form__button {
  background-color: #2f71e5;
  color: var(--accent-text-color);
  border: none;
  padding: 20px;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.form__button:hover:enabled {
  background-color: #347eff;
}

.form__button:active:enabled {
  background-color: #2a65cc;
}

.form__button_disabled {
  color: var(--secondary-text-color);
  background-color: #e6e8eb;
}

.form__input-error {
  position: absolute;
  transform: translate(0, 100%);
  bottom: -3px;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: red;
}

@media screen and (max-width: 1104px) {
  .form__button {
    padding: 16px;
  }
}

@media screen and (max-width: 544px) {
  .form {
    background-color: transparent;
  }

  .form__button {
    padding: 16px;
  }
}
