.form {
  background-color: var(--primary-bg);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.form__fieldset {
  border: none;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form__label {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #2f71e5;
}

.form__input {
  border: none;
  color: var(--primary-text-color);
  caret-color: #2f71e5;
  font-size: 16px;
}

.form__input::placeholder {
  color: var(--secondary-text-color);
}

.form__button {
  background-color: #2f71e5;
  color: var(--accent-text-color);
  border: none;
  padding: 20px 49px;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 500;
}

.form__button:hover:enabled {
  background-color: #347eff;
}

.form__button:active:enabled {
  background-color: #2a65cc;
}

.form__input-error {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: red;
  margin-top: 3px;
}

@media screen and (max-width: 1104px) {
  .form__button {
    padding: 16px 45px;
  }
}

@media screen and (max-width: 544px) {
  .form {
    background-color: transparent;
  }

  .form__button {
    padding: 16px 109px;
  }
}
