.form_login {
  width: 358px;
  position: relative;
}

.form__fieldset_el_email {
  margin-top: 22px;
}

.form__fieldset_el_password {
  margin-top: 31px;
}

.form__fieldset_el_name {
  margin-top: 31px;
}

.register-input-error {
  margin-top: 17px;
  position: absolute;
  transform: translate(50%, 0);
  right: 50%;
}

.form__button_register {
  margin-top: 39px;
  width: 100%;
}

.login {
  display: flex;
  justify-content: center;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: black;
  margin-top: 16px;
}

.login__message {
  margin: 0 0 0 4px;
  color: #4983e8;
  cursor: pointer;
}
