.form_login {
  width: 358px;
  position: relative;
}

.form__fieldset_el_email {
  margin-top: 22px;
}

.form__fieldset_el_password {
  margin-top: 31px;
}

.form__button_login {
  margin-top: 39px;
  width: 100%;
}

.login-input-error {
  margin-top: 17px;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
}

.register {
  display: flex;
  justify-content: center;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: black;
  margin-top: 16px;
}

.register__message {
  margin: 0 0 0 4px;
  color: #4983e8;
  cursor: pointer;
}

@media screen and (max-width: 544px) {
  .form_login {
    width: calc(100vw - 32px);
  }

  .form__button_login {
    padding: 20px;
  }
}
