@import url("./vendor/normalize.css");
@import url("./vendor/fonts.css");

:root {
  display: flex;
  justify-content: center;
  --primary-bg: white;
  --secondary-bg: #f5f6f7;
  --primary-text-color: #1a1b22;
  --secondary-text-color: #b6bcbf;
  --accent-text-color: white;
}
